$font: 'Rubik', sans-serif;
$font_1: 'Montserrat', sans-serif;

$white: #fff;
$accent: #CE284B;
$green: #898888;
$gray: #F2F2F2;
$black-light: #242424;
$grey-light: #BDBDBD;



$h1: 64px;
$h2: 48px;
$h3: 36px;
$h4: 28px;
$h5: 24px;
$h6: 18px;
$p: 16px;
$size: 14px;

$box-shadow-light: 0px 8px 20px rgba(36, 36, 36, 0.15);
