html, body {
  scrollbar-arrow-color: #000; /* 1 – цвет стрелки */;
  scrollbar-track-color: #008000; /* 2 – цвет подложки */;
  scrollbar-face-color: #32CD32; /* 3 - цвет самой полосы */;
  scrollbar-shadow-color: #000; /* 4 – цвет разделяющей полосы */;
  scrollbar-highlight-color: #000; /* 4 - цвет разделяющей полосы */;
  scrollbar-3dlight-color: #32CD32; /* 5 - цвет внешних границ полосы */;
  scrollbar-darkshadow-color: #32CD32; /* 5 - цвет внешних границ полосы */;
}